* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;
  --text-color: #303030;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000;
}

body *,
button {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 11.5rem 0 8.7rem;

}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;

}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.search input {
  max-height: 4.8rem;
  width: 46.2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1.6rem;
  background-color: hsla(191, 65%, 7%, 1);
  color: white;
  font-weight: bold;
  font-family: var(--ff-primary);
}

.search input::placeholder {
  color: #7C7C8A;
}

.search button {
  background-color: #065E7C;
  border-radius: .5rem;

  border: none;
  padding: 1.2rem 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;

  max-width: max-content;

  gap: 0.8rem;

  cursor: pointer;
}

.search button img {
  max-width: 2.4rem;
}

.search button svg {
  fill: #fff;
}

.search button:hover {
  color: #065E7C;
  background-color: #fff;
}

.search button:hover svg {
  fill: #065E7C;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

table * {
  font-size: 1.4rem;
  color: #E1E1E6;
}

.table-container {
  border: 1px solid #4A808C;
  border-radius: 12px;
  overflow: hidden;
}


table th {
  background-color: hsla(194, 72%, 13%, 1);
  text-align: left;
  font-weight: normal;
  padding: 16px 24px 16px 40px;
  font-size: 2rem;
}

table th:first-child {
  border-top-left-radius: 12px;
  width: 50.4rem;
}

table th:last-child {
  border-top-right-radius: 12px;
}


table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.50);
}

table tr:nth-child(even) {
  background: hsla(192, 65%, 7%, 1);
  border: 1px solid #4A808C;
  border-left: none;
  /* Remove a borda esquerda das linhas pares */
  border-right: none;
  /* Remove a borda direita das linhas pares */
}

table td {
  padding: 2.4rem 2.4rem 2.4rem 4rem;
  text-align: left;
  color: #E1E1E6;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 504px;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.2rem;
}

td.user a span {
  font-weight: 400;
  line-height: 3.2rem;
}

td .remove {
  background: none;
  border: none;

  color: #F75A68;
  cursor: pointer;
}

.show-no-favorites {
  text-align: center;
  height: 624px;
}

.no-favorites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.no-favorites img {
  width: 13.2rem;
  height: 12.5rem;
}

.no-favorites p {
  color: #4E5455;
  font-size: 4rem;
  font-family: "Roboto Mono";
  font-weight: 700;
  line-height: 2.5rem;
}